body {
  background-color: #cfe7f5; /* Fondo azul claro */
}

form {
  background-color: #ffffcc; /* Casillas de formulario en amarillo */
  padding: 20px;
  width: 300px;
  margin: 0 auto;
}

input[type="text"],
input[type="email"] {
  background-color: #ffffcc; /* Casillas de texto en amarillo */
  border: none;
  padding: 5px;
  margin-bottom: 10px;
  width: 100%;
}

button {
  background-color: #1f3557; /* Botón en azul oscuro */
  color: #ffffff; /* Letra en blanco */
  border: none;
  padding: 10px;
  width: 100%;
}

button:hover {
  background-color: #00263b; /* Cambio de color al pasar el cursor */
}